@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
.App{
  font-family: 'Roboto Slab', serif;
  text-align: center;
}

th{
  background-color:#32a4a8 ;
  opacity: 80%;
}

button{
  border:none;
}

hr{
  background-color: gray;
}

.bold{
  text-decoration: none;
  font-weight: 500;
}

.pointer{
  cursor: pointer;
}

#results{
  justify-content: space-between;
}

.desc{
  
  display: flex;
  justify-content: center;
}
table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}

 tbody tr {
  border-bottom: 1px solid #dddddd;
}

 tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

 tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

 tr {
  text-align: left;
}

th,td{
  padding: 15px 35px;
}

tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.search{
  margin-bottom: 30px;
  margin-left: 50px;
  margin-right: 50px;
}

input{
  width:300px;
  height: 25px;
  margin-left: 10px;
  border-radius: 100px;
  font-family: 'Roboto Slab', serif;
  margin-top: 6px;
}

.nav{
  margin-left: 30px;
  margin-right: 30px;
}
.dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    background: #dbcfce;
    border-radius: 100px;
    /* width: 15px; */
    /* border-color: black;
    border-radius: 100px; */
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content button:hover {background-color: #ddd;}
  .dropdown:hover .dropdown-content {display: block;}